@font-face {
    font-family: "fl-icons";
    font-display: block;
    src: url(fonts/fl-icons_1.eot);
    src: url(fonts/fl-icons.eot#iefix?v=3.16.4) format("embedded-opentype"),
      url(fonts/fl-icons.woff2) format("woff2"),
      url(fonts/fl-icons.ttf) format("truetype"),
      url(fonts/fl-icons.woff) format("woff"),
      url(images/fl-icons.svg#fl-icons) format("svg");
      }