.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
    width: 100%; /* Đảm bảo chiều rộng của container */
  height: 400px; /* Hoặc chiều cao mong muốn */
  overflow: hidden; /* Để các phần tử không bị tràn ra ngoài container */
  }
  
  /* Slides */
  .mySlides {
    position: absolute; /* để các slide chồng lên nhau */
    width: 100%; /* hoặc kích thước mong muốn */
    height: auto; /* giữ tỷ lệ kích thước */
    padding: 80px;
    text-align: center;
    opacity: 0; /* Mặc định là không hiển thị */
    transition: opacity 1s ease-in-out; /* hiệu ứng chuyển cảnh */
  }
  .mySlides.fade-in {
    opacity: 1;
  }
  
  .mySlides.fade-out {
    opacity: 0;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 10px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}