@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.header {
  /* background-color: white; */
  position: fixed;
  z-index: 10;
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../assets/images/a2.jpg");
  height: 180px;
  background-blend-mode: overlay;
  background-size: auto 100%;
  font-family: "Montserrat", sans-serif !important;
}
.header .ant-layout-header {
  background: transparent;
}
.ant-menu-light {
  background: transparent;
  font-size: 18px;
}
.ant-menu-light {
  background: linear-gradient(
    to bottom,
    #fde1d9,
    #f9c2c2,
    url("../../assets/images/a2.jpg")
  );
  width: 100vw;
  font-weight: 700;
}
.logo {
  margin-left: 10%;
  min-width: 80px;
}
