@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Lobster", "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.ant-menu {
  font-family: "Montserrat", sans-serif !important;
}
.ant-layout {
  font-family: "Lobster", "Montserrat", sans-serif !important;
}
.highlight {
  animation: shakeEffect 5s ease-in-out;
}

@keyframes shakeEffect {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    transform: translateX(-100px);
    opacity: 0.3;
  }
  50% {
    transform: translateX(200px);
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
